<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@gromcode-lesson.cjqbbseqr63c.eu-central-1.rds.amazonaws.com:1521:ORCL</property>
        <property name="hibernate.connection.username">main</property>
        <property name="hibernate.connection.password">ifgjrkzr</property>

        <!--<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>-->

        <property name="show_sql">true</property>
        <mapping class="dz_spring_3.model.File"></mapping>
        <mapping class="dz_spring_3.model.Storage"></mapping>
    </session-factory>

    <!--<open_tag params>value</open_tag>-->
</hibernate-configuration>